@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Barlow+Condensed:wght@300;400;600;700&display=swap');

body {
    font-family: 'Barlow Condensed', sans-serif !important;
    background-color: black !important;
}

.cs-line {
    position: relative;
}

.cs-line:after {
    content: '';
    position: absolute;
    background-color: white !important;
    top: 50%;
    left: 20%;
    width: 85%;
    height: 1px;
    z-index: 5;
}

.cs-trasition {
    transition: .5s !important;
}

.cs-w {
    width: 40% !important;
}

.cs-h {
    height: 55% !important;
}

.cs-h-2 {
    height: 500px !important;
    object-fit: cover;
}

.cs-min-h {
    min-height: 445px !important;
}

.cs-top-h {
    height: 200px !important;
}

.cs-four-line-p {
    line-height: 1.5em;
    min-height: 6em;
}

.cs-four-nine-line-p {
    line-height: 1.5em;
    min-height: 6em;
}

.cs-four-five-line-p {
    line-height: 1.5em;
    min-height: 6em;
}

/*Backgrounds*/
.cs-bg-page-one {
    background: url('https://raw.githubusercontent.com/MrSeager/space-tourism-v2/refs/heads/main/src/starter-code/assets/home/background-home-desktop.jpg') no-repeat center center;
    background-size: cover;
}

.cs-bg-page-two {
    background: url('https://raw.githubusercontent.com/MrSeager/space-tourism-v2/refs/heads/main/src/starter-code/assets/destination/background-destination-desktop.jpg') no-repeat center center;
    background-size: cover;
}

.cs-bg-page-three {
    background: url('https://raw.githubusercontent.com/MrSeager/space-tourism-v2/refs/heads/main/src/starter-code/assets/crew/background-crew-desktop.jpg') no-repeat center center;
    background-size: cover;
}

.cs-bg-page-four {
    background: url('https://raw.githubusercontent.com/MrSeager/space-tourism-v2/refs/heads/main/src/starter-code/assets/technology/background-technology-desktop.jpg') no-repeat center center;
    background-size: cover;
}

.cs-bg-blured {
    background: rgba(39, 38, 38, 0.5); /* Transparent background */ 
    backdrop-filter: blur(10px); /* Blur effect */ 
    -webkit-backdrop-filter: blur(10px); /* Safari support */ 
    padding: 1em; /* Add some padding */
}

/*Font*/
.cs-ff-barlow-condensed {
    font-family: 'Barlow Condensed', sans-serif !important;
}

.cs-ff-bellefair {
    font-family: 'Bellefair', sans-serif !important;
}

.cs-fs {
    font-size: 7em !important;
}

.cs-fw-300 {
    font-weight: 300 !important;
}

.cs-fw-400 {
    font-weight: 400 !important;
}

.cs-fw-600 {
    font-weight: 600 !important;
}

.cs-fw-700 {
    font-weight: 700 !important;
}

.cs-fs-150 {
    font-size: 150px !important;
}

.cs-ls {
    letter-spacing: .2em !important;
}

/*Buttons*/
.cs-btn {
    aspect-ratio: 1 / 1 !important;
    width: 250px !important;
}

.cs-btn-2 {
    border-bottom: solid 3px transparent !important;
    border-top: solid 3px transparent !important;
    border-left: none !important;
    border-right: none !important;
}

.cs-btn-2:hover, :focus {
    border-bottom: solid 3px white !important;
}

.cs-link {
    border-bottom: solid 3px transparent !important;
    border-top: solid 3px transparent !important;
}

.cs-link:hover, :focus, :checked {
    border-bottom: solid 3px white !important;
    border-top: solid 3px transparent !important;
}

/* Hide the native radio button */
.cs-radio .form-check-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffffff3a !important;
    border: none !important;
    transition: .5s !important;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    box-shadow: none !important;
}

/* Custom style for checked state */
.cs-radio .form-check-input:checked {
    background-color: white !important;
    scale: 1.1 !important;
    transition: .5s !important;
}

.cs-radio .form-check-input:checked::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    scale: 1.1 !important;
    transition: .5s !important;
}

.cs-btngroup {
    flex-direction: column !important;
}

.cs-btn-3 {
    border: solid 2px white !important;
    aspect-ratio: 1 / 1 !important;
    background-color: transparent !important;
    color: white !important;
}

.cs-btn-3:hover, .cs-btn-3:focus {
    border: solid 2px white !important;
    background-color: white !important;
    color: black !important;
}

.cs-btn-4:hover {
    background-color: transparent !important;
    color: white !important;
    scale: 1.1 !important;
}

/*Animation*/
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .spin {
    animation: spin 20s linear infinite;
  }

@media (max-width: 991px) {
    .cs-h-2 {
        height: 75vh !important;
    }
    

    .cs-four-nine-line-p {
        line-height: 1.5em;
        min-height: 13.5em;
    }

    .cs-bg-page-one {
        background: url('https://raw.githubusercontent.com/MrSeager/space-tourism-v2/refs/heads/main/src/starter-code/assets/home/background-home-tablet.jpg') no-repeat center center;
        background-size: cover;
    }

    .cs-bg-page-two {
        background: url('https://raw.githubusercontent.com/MrSeager/space-tourism-v2/refs/heads/main/src/starter-code/assets/destination/background-destination-tablet.jpg') no-repeat center center;
        background-size: cover;
    }

    .cs-bg-page-three {
        background: url('https://raw.githubusercontent.com/MrSeager/space-tourism-v2/refs/heads/main/src/starter-code/assets/crew/background-crew-tablet.jpg') no-repeat center center;
        background-size: cover;
    }

    .cs-bg-page-four {
        background: url('https://raw.githubusercontent.com/MrSeager/space-tourism-v2/refs/heads/main/src/starter-code/assets/technology/background-technology-tablet.jpg') no-repeat center center;
        background-size: cover;
    }

    .cs-nav-numb {
        display: none !important;
    }

    .cs-line::after{
        display: none;
    }

    .cs-btngroup {
        flex-direction: row !important;
    }

    /*Images*/
    .cs-img-0 {
        content: url('https://raw.githubusercontent.com/MrSeager/space-tourism-v2/refs/heads/main/src/starter-code/assets/technology/image-launch-vehicle-landscape.jpg');
    }

    .cs-img-1 {
        content: url('https://raw.githubusercontent.com/MrSeager/space-tourism-v2/refs/heads/main/src/starter-code/assets/technology/image-spaceport-landscape.jpg');
    }

    .cs-img-2 {
        content: url('https://raw.githubusercontent.com/MrSeager/space-tourism-v2/refs/heads/main/src/starter-code/assets/technology/image-space-capsule-landscape.jpg');
    }
}

@media (max-width: 575px) {
    .cs-four-five-line-p {
        line-height: 1.5em;
        min-height: 7.5em;
    }

    .cs-bg-page-one {
        background: url('https://raw.githubusercontent.com/MrSeager/space-tourism-v2/refs/heads/main/src/starter-code/assets/home/background-home-mobile.jpg') no-repeat center center;
        background-size: cover;
    }
    
    .cs-bg-page-one {
        background: url('https://raw.githubusercontent.com/MrSeager/space-tourism-v2/refs/heads/main/src/starter-code/assets/destination/background-destination-mobile.jpg') no-repeat center center;
        background-size: cover;
    }

    .cs-bg-page-three {
        background: url('https://raw.githubusercontent.com/MrSeager/space-tourism-v2/refs/heads/main/src/starter-code/assets/crew/background-crew-mobile.jpg') no-repeat center center;
        background-size: cover;
    }

    .cs-bg-page-four {
        background: url('https://raw.githubusercontent.com/MrSeager/space-tourism-v2/refs/heads/main/src/starter-code/assets/technology/background-technology-mobile.jpg') no-repeat center center;
        background-size: cover;
    }

    .cs-fs {
        font-size: 6em !important;
    }

    .cs-fs-150 {
        font-size: 130px !important;
    }
}